.sa_hide {
	display: none !important;
}

.sa-list-term {
	display: flex;
	// flex-direction: column;
	flex-wrap: wrap;
	gap: 10px;
	margin: 0px 0 15px;

	.term-item {
		display: flex;
		gap: 10px;
		align-items: center;
		border: 1px solid #c3c4c7;
		padding: 5px;
		background: #fff;
		border-radius: 3px;
		position: relative;
		min-width: 80px;
		min-height: 28px;

		.name {
			margin-left: auto;
			margin-right: auto;
			padding-right: 5px;
			padding-left: 5px;
		}

		&.selected {
			color: #2271b1;
			border-color: #2271b1;
			background: #f6f7f7;
		}

		cursor: pointer;

		img {
			width: 40px;
			height: 40px;
			display: block;
			object-fit: cover;
		}

		.color {
			width: 30px;
			height: 30px;
			display: block;
			object-fit: cover;
		}

		.actions {
			display: flex;
			gap: 10px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(80%);
			background: #f5f5f5;
			border: 1px solid #68abde;
			border-radius: 3px;
			padding: 5px;
			opacity: 0;
		}

		&:hover {
			.actions {
				opacity: 1;
			}
		}

		.close {
			&:hover {
				color: red;
			}
		}
	}
}

.swatch_box {
	display: flex;
	gap: 10px;
	align-items: center;

	img {
		width: 40px;
		height: 40px;
		display: block;
		object-fit: cover;
	}

	.color {
		width: 40px;
		height: 40px;
		display: block;
		object-fit: cover;
		border: 1px solid #68abde;
	}
}

.wc_swatch_image {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	border: 1px solid #68abde;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
}

.wc_swatch_color {
	width: 40px;
	height: 40px;
	&.x2 {
		width: 80px;
		height: 80px;
	}
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	z-index: 3;
	background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill-opacity=".05"><path d="M8 0h8v8H8zM0 8h8v8H0z"/></svg>');

	div {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
}

.sa_border {
	border: 1px solid #d5d5d5;
	border-radius: 3px;
}

.color_item {
	position: relative;
	.wc_swatch_color {
		position: relative;
		z-index: 2;
	}
	.remove {
		position: absolute;
		cursor: pointer;
		top: 0px;
		right: 0px;
		background: #ededed;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 5;
		transform: scale(80%);
	}
}

.column-swatch {
	.wc_swatch_image {
		width: 40px;
		height: 40px;
	}

	.wc_swatch_color {
		height: 40px;
		width: 40px;
	}

	.components-color-palette__custom-color-text-wrapper,
	.components-circular-option-picker {
		display: none;
	}
}

.sa_space {
	display: flex;
	gap: 10px;
	&.sa_wrap {
		flex-wrap: wrap;
	}
}

.sa_group_colors {
	display: flex;
	gap: 5px;
}

.wc_swatch_color_picker {
	// z-index: 999999;
	.components-color-picker {
		.components-flex {
			padding: 0px 5px 5px;
		}
		.react-colorful__saturation {
			margin-bottom: 10px;
		}
		.components-input-control__container {
			width: 100%;
		}

		.components-input-control__input {
			height: 25px !important;
			min-height: 25px !important;
		}

		> div:nth-child(2) {
			padding-top: 0px;

			> div:nth-child(1) {
				display: none;
			}
		}
	}

	.act {
		padding: 5px 16px 10px;
		display: flex;
		justify-content: space-between;
	}
}

.sa_swatch_modal {
	.button,
	button {
		display: inline-flex;
		align-items: center;
	}

	.settings-form {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.form-item {
		display: flex;
		gap: 15px;
		align-items: center;
		.form_label {
			align-items: center;
		}
		.form_value {
			margin-left: auto;
		}
	}
}

.components-modal__frame {
	&.sa_swatch_modal {
		.components-modal__content {
			padding-left: 15px;
			padding-right: 15px;
			margin-top: 69px;
		}

		.components-modal__header {
			border-bottom: 1px solid #c3c4c7 !important;
			padding: 15px;
			height: auto;
		}

		.sa_modal_inner {
			display: block;
			margin-top: 15px;
		}

		table {
			border-spacing: 0;
			width: 100%;
			clear: both;
			margin: 0;
			border: 0px none !important;
		}

		.add-form {
			display: flex;
			gap: 15px;

			input {
				width: 100%;
			}
		}

		position: relative;

		.loading {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 99999;
			transform: translate(-50%, -50%);
		}
	}
}

.sa_swatch_table {
	.actions {
		width: 100px;
		text-align: left;
	}

	td,
	th {
		vertical-align: middle;
	}

	tr {
		cursor: pointer;

		.ic {
			display: inline-flex;
			text-decoration: none;
			font-size: 12px;
			margin: 0;
			padding: 5px 10px;
			cursor: pointer;
			border-width: 1px;
			border-style: solid;
			border-radius: 3px;
			white-space: nowrap;
			align-items: center;
			box-sizing: border-box;
			gap: 5px;
			background: rgb(39, 130, 220);
			color: #fff;
			align-items: center;

			&.close {
				background: rgb(206, 18, 18);
				color: #fff;
			}

			.dashicons {
				transform: scale(0.8);
			}
		}

		img {
			width: 40px;
			height: 40px;
			display: block;
			object-fit: cover;
		}

		.color {
			width: 30px;
			height: 30px;
			display: block;
			object-fit: cover;
		}
	}
}
