body {
	--sa-border-width: 2px;
	--sa-border-radius: 3px;
	--sa-check-active-bg: #1896e5;
	--sa-border-color: #c3c1c1;
	--sa-gap: 10px;
	--sa-row-gap: 1.5em;
	--sa-attr-label-width: 120px;
	--sa-swatch-gap: 10px;
	--sa-option-padding: 5px;
	--sa-row-margin: 1em;
	--sa-popover-size: 300px;
}

.sa_attr_product {
	display: flex;
	flex-direction: column;
	gap: var(--sa-row-gap);
	margin-bottom: var(--sa-row-margin);

	&:last-child {
		margin-bottom: 0px;
	}

	.sa_attr {
		display: flex;
		gap: var(--sa-gap);

		.sa_label_val {
			margin-left: 0.5em;
		}
	}
}

.sa_attr_options {
	display: flex;
	gap: var(--sa-gap);
	flex-wrap: wrap;
}

.sa_attr_option {
	cursor: pointer;
	border: var(--sa-border-width) solid var(--sa-border-color);
	padding: var(--sa-option-padding) calc(1.5 * var(--sa-option-padding));

	&.sa_no_label {
		padding: var(--sa-option-padding);
	}

	&.sa_style_circle {
		border-radius: 100000px;
		overflow: hidden;

		.sa_swatch_wrap {
			border-radius: 100000px;
			overflow: hidden;
		}
	}

	font-size: 14px;
	line-height: 20px;
	border-radius: var(--sa-border-radius);
	position: relative;
	display: inline-flex;
	align-items: center;
	gap: var(--sa-swatch-gap);

	.sa_checkbox {
		width: 16px;
		height: 16px;
		display: inline-flex;
		border: var(--sa-border-width) solid var(--sa-border-color);
		border-radius: 100px;
		background: #fff;
		position: relative;
		margin: 0;

		&::before {
			content: "";
			width: calc(100% + 6px);
			height: calc(100% + 6px);
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border: var(--sa-border-width) solid var(--sa-border-color);
			border-radius: 100px;
			opacity: 0;
			transition: all linear 0.3s;
		}
	}

	.sa_icon {
		position: absolute;
		bottom: calc(0px - var(--sa-border-width) / 2);
		right: calc(0px - var(--sa-border-width) / 2);
		z-index: 2;
		color: #fff;
		line-height: 1;
		overflow: hidden;
		height: 22px;
		width: 22px;
		display: block;
		border-bottom-right-radius: var(--sa-border-radius);

		svg {
			z-index: 3;
			position: absolute;
			bottom: -5px;
			right: -5px;
			transform: scale(0.6);
		}

		&::before {
			content: "";
			position: absolute;
			background: var(--sa-check-active-bg);
			z-index: 1;
			width: 40px;
			height: 60px;
			top: -12px;
			left: 8px;
			transform: rotate(45deg) translate(3px, 8px);
		}
	}

	&.sa_selected {
		border: var(--sa-border-width) solid var(--sa-check-active-bg);

		.sa_checkbox {
			background: var(--sa-check-active-bg);
			border-color: #fff;

			&::before {
				border-color: var(--sa-check-active-bg);
				opacity: 1;
			}
		}
	}

	&.sa_inactive {
		border-color: #c18080;
		background: #eed5d5;
		opacity: 0.8;

		.sa_icon {
			&::before {
				background: #c18080 !important;
			}
		}
	}
}

.sa_opt_label,
.sa_checkbox_wrap {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.sa_swatch {
	width: 20px;
	height: 20px;
	display: flex;
	overflow: hidden;
	border-radius: var(--sa-border-radius);

	&.sa_image {
		width: 100%;
		max-width: 100%;
		height: auto;
	}

	&.sa_no {
		justify-content: center;
		align-items: center;
	}

	.sa_color_inner {
		width: 100%;
		height: 100%;
		display: flex;
		transform: rotate(45deg) scale(1.45);
	}

	.sa_color_item {
		flex-basis: 100%;
		height: 100%;
		display: flex;
	}

	.sa_image_item {
		flex-basis: 100%;
		height: 100%;
		display: flex;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			display: block;
		}
	}
}

.sa_opt_layout_box {
	display: flex;
	flex-direction: column;
}

// -- Option layout -----------------------
.sa_drawer_body,
.sa_attr {
	* {
		box-sizing: border-box;
	}
}

.sa_attr_options {
	&.sa_opts_col_auto {
		width: 100%;
		// height: 100%;

		// .sa_swatch {
		// 	width: 100%;
		// 	height: 100%;
		// }
	}

	&.sa_opts_col {
		gap: 0px;
		margin: calc(0px - var(--sa-gap) / 2);

		.sa_opt_wrap {
			padding: calc(var(--sa-gap) / 2);
		}

		.sa_attr_option {
			width: 100%;
		}

		&.sa_opts_l_box {
			.sa_attr_option {
				flex-direction: column;
			}
		}
	}
}

.sa_attr_options {
	&.sa_opts_l_box {
		.sa_attr_option {
			&.sa_has_label {
				flex-direction: column;
			}
		}
	}
}

// ======= SWATCHES FORM LAYOUT=============

// separate layout -----------------------
.sa_layout_separate {
	.sa_attr {
		flex-direction: column;
	}
}

// Inline layout -----------------------
.sa_layout_inline {
	.sa_attr_label {
		flex-basis: var(--sa-attr-label-width);
	}

	.sa_attr_values {
		flex-basis: calc(100% - var(--sa-attr-label-width));
	}
}

// List layout -----------------------

// drawer layout -----------------------

.sa_layout_drawer {
	max-width: 500px;
	.sa_attr {
		align-items: center;
	}

	.sa_attr_values {
		margin-left: auto;
	}

	.sa_opt_selected_prev {
		display: flex;
		justify-content: flex-end;
	}
}

.sa_layout_popover {
	max-width: 500px;

	.sa_attr {
		align-items: center;
	}

	.sa_attr_values {
		margin-left: auto;
	}

	.sa_opt_selected_prev {
		display: flex;
		justify-content: flex-end;
	}
}

.sa_wc_popover_inner {

	display: block;
	padding: 1em;
	width: var(--sa-popover-size, 300px);
	min-width: 100px;
	max-width: 100%;

}

.sa_wc_popover {
	background: #fff;
	&:focus-visible {
		outline: none;
	}
}


// --- Loop ------------------
.sa_align_center {

	.sa_loop_values,
	.sa_attr_options {
		justify-content: center;
	}
}

.sa_align_left {

	.sa_loop_values,
	.sa_attr_options {
		justify-content: start;
	}
}

.sa_align_right {

	.sa_loop_values,
	.sa_attr_options {
		justify-content: right;
	}
}

.sa_loop_swatches {
	--sa-gap: 4px;
	--sa-swatch-gap: 3px;
	--sa-option-padding: 2px;
	--sa-row-margin: 10px;
	--sa-row-gap: 10px;

	.sa_attr_options {
		flex-wrap: nowrap;
	}

	.sa_loop_values {
		width: 100%;
		display: flex;
		overflow: hidden;
	}

	.sa_opt_label {
		flex-wrap: nowrap;
		white-space: nowrap;
	}
}

.sa_cursor {
	cursor: pointer;
}

.sa_wc_swatches {
	transition: all linear 0.3s;
	opacity: 1;
	display: block;
	padding-bottom: var(--sa-row-margin);
}

.sa_vtb_wrap {
	transition: all linear 0.3s;

	&.sa_hidden {
		overflow: hidden;
	}

	&.sa_loading {
		display: block;
		position: relative;

		.sa_wc_swatches {
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			opacity: 0;
		}
	}
}

.sa_attr_details {
	font-size: 80%;
}

// .sa_attr_desc_modal {
// 	.components-modal__content {
// 		margin-top: 45px;
// 		padding: 1.5em;
// 	}
// 	.components-modal__header {
// 		height: 45px;
// 		padding: 1.5em;
// 		background: #fff;
// 	}
// }

@import "./scss/drawer.scss";